/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/


// Fonts for Merriweather
@font-face {
    font-family: 'Merriweather';
    src: url('../../build/css/fonts/merriweather-bold-webfont.woff2') format('woff2'),
         url('../../build/css/fonts/merriweather-bold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../../build/css/fonts/merriweather-bolditalic-webfont.woff2') format('woff2'),
         url('../../build/css/fonts/merriweather-bolditalic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../../build/css/fonts/merriweather-light-webfont.woff2') format('woff2'),
         url('../../build/css/fonts/merriweather-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../../build/css/fonts/merriweather-lightitalic-webfont.woff2') format('woff2'),
         url('../../build/css/fonts/merriweather-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}


//Fonts for Novecento Sans
@font-face {
    font-family: 'Novecento';
    src: url('../../build/css/fonts/novecentosanswide-normal-webfont.woff') format('woff'),
         url('../../build/css/fonts/novecentosanswide-normal-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Novecento';
    src: url('../../build/css/fonts/novecentosanswide-demibold-webfont.woff') format('woff'),
         url('../../build/css/fonts/novecentosanswide-demibold-webfont.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}