/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

.container{
	max-width:1220px;
	margin:0 auto;
	padding:0 10px;
}

.small-container{
	max-width:900px;
	margin:0 auto;
}

//Social Media Styles
.social-media{
	a{
		padding:10px 20px;
		border:1px solid #000;
		margin-right:5px;
		color:#000;
		text-transform:uppercase;

		&:hover{
			border-color:$inhabitent_green;
			background-color:$inhabitent_green;
			color:#fff;
		}
	}
}

//Comment Styles{
.comments-area{
	
	.comment-body{
		display:flex;
		flex-flow:row nowrap;
		padding-bottom:15px;
		border-bottom:1px solid #ddd;

		.comment-author-avatar{
			display:inline-block;
			margin-right:15px;
		}

		.comment-author{
			font-weight:600;
			font-style:normal;
			font-family:"Merriweather", serif;
			font-size:1.3em;
		}

	}

	.submit{
		padding: 10px 27px;
	    background-color: #248a83;
	    color: #fff;
	    box-shadow: none;
	    border-radius: none;
	    border: none;
	    font-size: .9em;
	    text-transform: uppercase;

	    &:hover{
	    	box-shadow:none;

	    }
	}

}

// Padding for the top navigation
.site-content{
	padding-top:60px;
	display:flex;
	flex-flow:row nowrap;
	max-width:1200px;
	margin:0 auto;
}

// Remove padding for pages with Splash/Hero 
.home .site-content,
.page-template-page-about .site-content{
	padding-top:0;
}

.day-of-week{
	font-weight:600;	
}

//Styles for general read more buttons
.read-more{
			padding:10px 15px;
			color:#000;
			border:1px solid #000;
			display:inline-block;

			&:hover{
				color:#fff;
				border-color:$inhabitent_green;
				background-color:$inhabitent_green;
			}

			&:visited{
				color:#000;
			}
		}

/* Header Styles */
.site-header{
	background-color:rgba(255,255,255,0.8);
	position:fixed;
	width:100%;
	border-bottom:1px solid #eee;
	z-index:999;

	.container{
		display:flex;
		flex-flow: row nowrap;
		justify-content: space-between;
	}
}

.site-branding img{
	height:50px;
	width:50px;
}

.site-branding{
	flex:1 0 15%;
	
	p{
		margin:0;
	}
}

.main-navigation{
	flex:1 0 15%;
	display:flex;
	flex-flow:row nowrap;
	justify-content:flex-end;

	.menu{
		margin-top:15px;
		text-align:right;
	}

	li{
		margin-left:20px;
	}

	a{
		font-family:"Novecento", Arial, sans-serif;
		color:#248A83;
		text-transform:uppercase;
		&:hover{
			color:#000;
		}
	}

	form{
		display:inline-block;

		fieldset{
			margin:0; 
			padding:0;
			border:none;
			margin-left:20px;
			position:relative;
			top:15px;
		}

		i{
			position:relative;
			top:-2px;
			color:$inhabitent_green;
			font-size:1.2em;
		}

		button{
			border:none;
			background:none;
			box-shadow:none;	
			text-shadow:none;
			padding:0;
		}

		input{
			border:none;
			background:none;
			width:100px
		}

		.search-submit{
		display:inline-block;
		cursor:pointer;
		}

		.search-field{
			outline:none;
			height:20px;
			width:auto;
			display:none;
		}
	}
}

/* Footer Styles */
.site-footer{
	background:url('../../images/dark-wood@2x.png') center;
	min-height:300px;
	padding-bottom:20px;
	margin-top:80px;

	.site-info{
		color:#fff;
		display:flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		padding-top:70px;
		margin-bottom:60px;
	
		a{ color:#fff;}

		.footer-contact-info{ flex: 1 0 20%;}
		.footer-buisness-hour {flex: 1 0 20%}
		.footer-logo{
			flex:1 0 60%; 
			text-align:right;
		}
	}

	span{
		color:#fff; 
		text-align:center;
		display:block;
	}

	.copyright{
		font-family:"Novecento",sans-serif;
	}
}


/* Front page */
.home{
	.site-content{
		max-width:100%;	
	}
	
	#primary{
		width:100%;
	}

	.splash-image{
		background:
			linear-gradient( 
					rgba(0,0,0,0.3),
					rgba(0,0,0,0.3)
				),
			url(../../images/home-hero.jpg) center;
		background-size:cover;
		height:900px;
		text-align:center;
		display:flex;
		flex-flow: row nowrap;
		justify-content:center;
	}

	//styles for the shop stuff section
	.shop-stuff-section{
		margin-top:40px;
		margin-bottom:40px;

		h2{
			text-align:center;
		}

		.shop-stuff-container{
			margin:0 auto;
			display:flex;
			flex-flow: row nowrap;
			justify-content:space-between;

			.shop-stuff-item{
				text-align:center;
				width:280px;
				border:1px solid #ddd;
				border-top:4px solid #ddd;
				padding:20px 10px;
				
				a{
					padding:10px 20px;
					background-color:$inhabitent_green;
					color:#fff;

					&:hover{
					background-color:#19625d;
					}
				}

				img{
					width:70px;
				}

				&:hover{
					border-color:#d99054;
				}

			}

		}

	}
	

	//Styles for the inhabitent section
	.home-journal-section{

		h2{
			text-align:center;
		}

		.home-journal-container{
			display:flex;
			justify-content:space-between;
			margin-bottom:25px;

			.home-journal-item{
				flex:0 1 32%;

				img{
					height:240px;
					width:100%;
				}

				.home-journal-item-info{
					padding:20px;
					border:1px solid #ddd;
					border-top:4px solid #ddd;
					margin-top:-7px;

					h3{
						color:$inhabitent_green;
						font-size:1.3em;
						line-height:1.2em;
						margin-top:15px;
						margin-bottom:15px;
						
						a:hover{color:#000;}
						a:visited{color:$inhabitent_green;}
					}

				}
			}
		}
	
	}

	.latest-adventure-section{

		h2{
			text-align:center;
		}
		
		.adventure-flex-1{
			display:flex;
			flex-flow:row nowrap;

			.adventure-content{
				border-right:20px solid #fff;
			}
			
			.adventure-flex-2{
				flex:1 1 50%;
				display:flex;
				flex-flow:column nowrap;

				.adventure-content{
					border-right:none;
					border-bottom:20px solid #fff;

					h2{font-size:1.5em;}
				}

				.adventure-flex-3{
					flex:1 1 50%;
					display:flex;
					flex-flow:row nowrap;

					.adventure-content:nth-child(1){
						border-bottom:none;
						border-right:10px solid #fff;

						h2{font-size:1.4em;}
					}

					.adventure-content:nth-child(2){
						border-bottom:none;
						border-left:10px solid #fff;

						h2{font-size:1.4em;}
					}
				}
			}
		}
			
		.adventure-content{
			flex:1 1 50%;
			background-size:cover !important;
			background-position:center !important;
			// I Know I know using the nuke here, Ran out of time. Forgive me!
		}

		.adventure-info{
			margin:25px;
	
			a{
				color:#fff;
				text-shadow: 1px 1px 1px #999;
				
				&:hover{
					color:#f0e4d1;
				}
			}
			.read-more{
				color:#fff;
				border-color:#fff;

				&:hover{
					border-color:$inhabitent_green;
				}
			}
		}
		
		.read-more-adventures{
			margin-top:20px;
			background-color:$inhabitent_green;
			border:none;
			color:#fff;

			&:hover{
				background-color:#19625d;
			}
		}
	}

}



/* Blog List Page */
.blog{
	
	#primary{
		padding-top:60px;
		padding-right:60px;
	}

	.type-post{ margin-bottom:80px;}

	.entry-header{
		position:relative;

		img{
			width:100%;
		}

		h2{
			position:absolute;
			top:30px;
			width:70%;
			font-size:1.5em;
			text-transform:uppercase;
			background-color: $inhabitent_green;
			padding:10px;
			a{color:#fff;}
		}

		.entry-meta{
			text-align:right;
			position:absolute;
			bottom:6px;
			right:0;
			background-color: $inhabitent_green;
			color:#fff;
			padding: 5px 25px 5px;
			text-transform:uppercase;
		}

	}

}

/* Indivitual Blog List Page */
.single-post {

	#primary{
		padding-top:60px;
		padding-right:60px;
	}
	
	.entry-header{
		position:relative;

		img{
			width:100%;
		}

		h1{
			position:absolute;
			top:50px;
			width:70%;
			margin:0;
			text-transform:uppercase;
			background-color: $inhabitent_green;
			padding:10px;
			color:#fff;
			font-size:1.5em;
		}

		.entry-meta{
			text-align:right;
			position:absolute;
			bottom:6px;
			right:0;
			background-color: $inhabitent_green;
			color:#fff;
			padding: 5px 25px 5px;
			text-transform:uppercase;

			a{
				color:#fff;
			}
		}
	}

	.cat-links, 
	.tags-links{
			text-transform:uppercase;
			margin-right:25px;
		}

	.post-navigation{
		display:none;
	}
}

/* About Page Styles */
.page-template-page-about{
	
	.site-content{
		max-width:100%;

	#primary{
		flex:1 0 100%;
		}

	}

	h2{
		text-align:center;
	}

	.about-splash{
		height:800px;	
		display:flex;
		flex-flow:column nowrap;
		justify-content:center;

		h1{
			text-align:center;
			color:#fff;
			font-size:1.8em;
			text-transform:uppercase;
		}
	}
}

/* Product Archive Styles */
.post-type-archive{

	h1{
		text-align:center;
		font-size:2.5em;
		margin:50px 0 30px;
		text-transform:uppercase;
	}

	.product-taxonomy-links{
		margin-bottom:50px;
		border-bottom:1px dashed #ccc;
		padding-bottom:50px;
		text-align:center;

		a{
			color:$inhabitent_green;
			text-transform:uppercase;
			font-size:1.5em;
			margin:0 15px;
		}
	}

	.product-list{
		display:flex;
		flex-flow:row wrap;
		justify-content:space-between;

		
		.product-item{
			flex:0 1 23%;
			margin-bottom:30px;
			max-width:23%;
			border:1px solid #e1e1e1;	

			.product-image-link{	
				height:250px;
				overflow:hidden;
				position:relative;
				
				img{
					left: 50%;
				    max-height: 250px;
				    max-width: none;
				    position: absolute;
				    top: 50%;
				    -webkit-transform: translate(-50%,-52%);
				    transform: translate(-50%,-52%);
				    width: auto;
				}
			}	

			.product-item-info{
				padding:5px 10px;
				
				.product-title{
					padding-right:3px;
					display:inline;
					background:#fff;

						&:before{
					    float: left;
 					    width: 0;
    					white-space: nowrap;
    					content: ".......................................................";
    					}
				}

				.product-price{
					float:right;
					background-color:#fff;
				}

			}
		}
	}
}

/* Single Product Page Styles*/
.single-product{

	.product-container{
		margin:60px 0;
		display:flex;
		justify-content:space-between;

		.product-image{
			flex:0 1 46%;
		}

		.product-info{
			flex:0 1 50%;

			h1{
				font-size:1.9em;
				text-transform:uppercase;
				color:#d99054;
				margin-top:0;
			}

			.product-price{
				font-weight:600;
				font-size:1.4em;
				display:block;
				margin-bottom:40px;
			}
		}

	}

}

/* Taxonomy Page Styes */
.tax-product_type{
	
	#primary{
		flex:1 0 100%;
	}

	h1{
		text-align:center;
	}

	.taxonomy-description{
		margin-bottom:50px;
		border-bottom:1px dashed #ccc;
		padding-bottom:40px;
		text-align:center;
	}
	
	.taxonomy-product-list{
		display:flex;
		flex-flow:row wrap;
		justify-content:space-between;

		
		.taxonomy-product-item{
			flex:0 1 23%;
			margin-bottom:30px;
			max-width:23%;
			border:1px solid #e1e1e1;	

			.taxonomy-product-image-link{	
				height:250px;
				overflow:hidden;
				position:relative;
				
				img{
					left: 50%;
				    max-height: 250px;
				    max-width: none;
				    position: absolute;
				    top: 50%;
				    -webkit-transform: translate(-50%,-52%);
				    transform: translate(-50%,-52%);
				    width: auto;
				}
			}

			.taxonomy-product-item-info{
				padding:5px 10px;
				
				.taxonomy-product-title{
					padding-right:3px;
					display:inline;
					background:#fff;

						&:before{
					    float: left;
 					    width: 0;
    					white-space: nowrap;
    					content: ".......................................................";
    					}
				}

				.taxonomy-product-price{
					float:right;
					background-color:#fff;
				}

			}
		}
	}
}

/* Contact Page Styles */
.page-template-page-contact{

	#primary{
		padding-top:60px;
		padding-right:60px;
	}

	h1{
		margin-top:0;
	}

	form{

		p{
			font-family:'Novecento' Arial, sans-serif;
			font-size:1.1em;
		}

		.submit input{
			padding:10px 27px;
			background-color:$inhabitent_green;
			color:#fff;
			box-shadow:none;
			border-radius:none;
			border:none;
			font-size:0.9em;
			text-transform:uppercase;

			&:hover{
			background-color:#19625d;
			}
		}
	}

}

/* Search Page Styles */
.search{
	#primary{
		flex:1 0 60%;
		padding-right:60px;
	}

	.search-submit{
		display:none;
	}

	fieldset{
		border:none;
	}

	.search-pagination{
		
		.page-numbers{
			background-color:$inhabitent_green;
			padding:5px 10px;
			color:#fff;
		}

		.current{
			background-color:gray;
			font-family:'Novecento',sans-serif;
		}

	}
}

/* Missing Page (404) Styles */
.error404{

	#primary{
		flex:1 0 60%;
		padding-right:60px;
	}
}

/* Individual Adventure Page styles */
.single-adventure{
	
	.site-content{
		max-width:100%;

	#primary{
		flex:1 0 100%;
		}
	}

	.entry-meta{
		text-transform:uppercase;
		font-size:1.1em;
		font-family:'Novecento', sans-serif;
	}

}

