/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 $base__space-unit;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

/* Archive Widget */
.widget_archive ul{
	padding:0;
	margin:0;
	list-style:none;
}

/* Sidebar Widget */
.widget-area{
	flex:1 0 30%;
	border-left: 1px solid #eee;
	padding-top:60px;
	padding-left:60px;

	aside{
		margin-bottom:60px;
	}

	.contact-widget-paragraph{
		i{ vertical-align:top; margin-top:5px; }
		span{display:inline-block;}
	}

	h2{margin-top:0px;}
}